services:
  web:
    build: .
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      - DB_HOST=db
    env_file:
      - .env
    command: >
      sh -c "
        sleep 5
        python manage.py migrate
        python manage.py createsuperuser --noinput --username admin --email admin@example.com || true
        python manage.py runserver 0.0.0.0:8000
      "  
  db:
    image: postgres:14
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    ports:
      - "5433:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
